ArchivosAlianzas/*
!ArchivosAlianzas/
cspell/*
!cspell/
.codegpt
CartanoAdeudo/*
!CartanoAdeudo/
Diplomas/*
!Diplomas/
DocuRestruc/*
!DocuRestruc/
MapaCurricular/*
!MapaCurricular/
RVOES/*
!RVOES/
Titulos/*
!Titulos/
contratosAdministrativo/*
!contratosAdministrativo/
contratosAsesor/*
!contratosAsesor/
contratosEstudiante/*
!contratosEstudiante/
docPrograma/*
!docPrograma/
docProspecto/*
!docProspecto/
docespecialidad/*
!docespecialidad/
docprofesionales/*
!docprofesionales/
documentacionestudiantes/*
!documentacionestudiantes/
documentoCapci/*
!documentoCapci/
documentosContrato/*
!documentosContrato/
imagenes/*
!imagenes/
pagos/*
!pagos/
pagosdesglose/*
!pagosdesglose/
perfil/*
!perfil/
.vscode
.cspell